In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.DataFrame(np.arange(12).reshape((3,4)),index=list('123'),columns=list('abcd'))
df

   a  b   c   d
1  0  1   2   3
2  4  5   6   7
3  8  9  10  11

In [3]:
df.index

Index(['1', '2', '3'], dtype='object')

In [4]:
df['a']

1    0
2    4
3    8
Name: a, dtype: int32

设置索引

In [5]:
df.index=['第一行','第二行','第三行']
df

     a  b   c   d
第一行  0  1   2   3
第二行  4  5   6   7
第三行  8  9  10  11

设置索引为某一列

In [6]:
df1=df.set_index('a')
df1

   b   c   d
a
0  1   2   3
4  5   6   7
8  9  10  11

也可以设置两列索引

In [14]:
df2=df.set_index(['a','b'])
df2

      c   d
a b
0 1   2   3
4 5   6   7
8 9  10  11

从复合索引中取值

In [10]:
type(df2)

pandas.core.frame.DataFrame

In [16]:
df3=df2['c']
df3

a  b
0  1     2
4  5     6
8  9    10
Name: c, dtype: int32

In [17]:
type(df3)

pandas.core.series.Series

In [20]:
df3[:,5]

a
4    6
Name: c, dtype: int32

当是DateFrame类型时

In [21]:
df2

      c   d
a b
0 1   2   3
4 5   6   7
8 9  10  11

In [23]:
df2.query('b==5')

     c  d
a b
4 5  6  7

In [24]:
df

     a  b   c   d
第一行  0  1   2   3
第二行  4  5   6   7
第三行  8  9  10  11

In [27]:
df.head(2)

     a  b  c  d
第一行  0  1  2  3
第二行  4  5  6  7

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 第一行 to 第三行
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1   b       3 non-null      int32
 2   c       3 non-null      int32
 3   d       3 non-null      int32
dtypes: int32(4)
memory usage: 152.0+ bytes

In [7]:
df

     a  b   c   d
第一行  0  1   2   3
第二行  4  5   6   7
第三行  8  9  10  11

In [8]:
df1

   b   c   d
a
0  1   2   3
4  5   6   7
8  9  10  11