In [1]:
import pandas as pd
import numpy as np

pandas中时间序列的处理--pd.date_range(start,end,periods,freq)  
下面是这三个参数的基本用法

In [3]:
pd.date_range(start='20171230',end='20180131',freq='D')

DatetimeIndex(['2017-12-30', '2017-12-31', '2018-01-01', '2018-01-02',
               '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12', '2018-01-13', '2018-01-14',
               '2018-01-15', '2018-01-16', '2018-01-17', '2018-01-18',
               '2018-01-19', '2018-01-20', '2018-01-21', '2018-01-22',
               '2018-01-23', '2018-01-24', '2018-01-25', '2018-01-26',
               '2018-01-27', '2018-01-28', '2018-01-29', '2018-01-30',
               '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range(start='20171230',periods=10,freq='D')

DatetimeIndex(['2017-12-30', '2017-12-31', '2018-01-01', '2018-01-02',
               '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.date_range(start='20171230',periods=10,freq='M')

DatetimeIndex(['2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31',
               '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30'],
              dtype='datetime64[ns]', freq='M')

例子

In [2]:
index=pd.date_range('20170101',periods=10)
df=pd.DataFrame(np.random.rand(10),index=index)
df

                   0
2017-01-01  0.478974
2017-01-02  0.830432
2017-01-03  0.475713
2017-01-04  0.085071
2017-01-05  0.748514
2017-01-06  0.152155
2017-01-07  0.643755
2017-01-08  0.445247
2017-01-09  0.301686
2017-01-10  0.823569

上面函数np.random.rand()  
通过本函数可以返回一个或一组服从“0~1”均匀分布的随机样本值。  
随机样本取值范围是[0,1)，不包括1。

获得时间戳

In [13]:
import time
print(time.time())#获当前时间的时间戳
print(time.localtime())#获取本地时间
print(time.strftime('%Y-%m-%d',time.localtime()))#时间格式化

1597928269.704603
time.struct_time(tm_year=2020, tm_mon=8, tm_mday=20, tm_hour=20, tm_min=57, tm_sec=49, tm_wday=3, tm_yday=233, tm_isdst=0)
2020-08-20

In [14]:
t1=time.strftime('%Y-%m-%d',time.localtime())
t1

'2020-08-20'

In [15]:
pd.to_datetime(t1,format='')

Timestamp('2020-08-20 00:00:00')

上例运用pd提供的方法把时间字符串转化为时间序列,format对时间进行格式化

t.resample('M').mean()方法按照月份统计平均值  
t.resample('10D').count()方法按照每10天进行一次统计..